streamlit
python-dotenv
PyPDF2
langgraph
langchain
langchain-community
scikit-learn
pandas
plotly
graphviz
chromadb
google-generativeai
spacy
reportlab
langchain-google-genai
langchain-google-genai
langchain-google-genai
langchain-google-genai